# Compiled class files
*.class
# Log files
*.log
# Dependency directories
node_modules/
# IDE files
.vscode/
.idea/
# Build artifacts
target/
dist/

# Logs and backups
logs/
logs_backup/

# Docker Compose
docker-compose.yml
##
